    * {
        margin: 0 auto;
        font-style: normal;
        list-style: none;
        padding: 0px;
    }
    
    body {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, rgb(56, 56, 55), white);
    }
    
    main {
        margin: 0 auto;
        width: 80%;
        position: relative;
    }
    
    .menu-principal {
        width: 100%;
        background-color: black;
    }
    
    .img-cabeçalho {
        margin-top: 15px;
        margin-right: 15px;
        max-width: 60px;
        max-height: 60px;
        width: auto;
        height: auto;
    }
    
    .logo {
        float: left;
    }
    
    .redes-sociais {
        padding: 0px;
        float: right;
        list-style: none;
    }
    
    .header2 {
        color: black;
        width: 100%;
        background-color: rgb(37, 41, 40);
        height: 60px;
        border-bottom: 3px solid rgb(0, 0, 0);
        text-transform: uppercase;
    }
    
    .header2--fixo {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        opacity: 80%;
        background-color: rgb(37, 41, 40);
        transition-duration: 2s;
    }
    
    .menu ul li {
        padding: 10px;
        display: inline-block;
        margin-left: 5px;
        float: left;
    }
    
    .menu ul li:hover {
        height: 40px;
        border-bottom: rgb(255, 0, 0) 3px solid;
    }
    
    .menu a {
        color: white;
        text-decoration: none;
    }
    
    .menu a:hover {
        color: rgb(255, 0, 0);
    }
    
    <!-- .busca {
        padding: 10px;
        width: 40%;
        float: right;
    }
    
    .busca input {
        float: right;
        margin-right: 50px;
        padding: 0px 15px;
        width: 200px;
        height: 30px;
        background-image: url(../img/lupa.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: 95%;
        border: 1px solid;
    }
    
    .slider1 {
        padding: 0px;
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    
    .slider1 ul {
        display: flex;
        width: 200%;
        padding: 0;
        margin-right: 0px;
        animation: trocar1 8s infinite;
        animation-direction: alternate;
    }
    
    .slider1 li {
        width: 100%;
        list-style: none;
        text-align: left;
    }
    
    .slider1 img {
        margin-top: 10px;
        width: 100% !important;
        margin: 0;
    }
    
    @keyframes trocar1 {
        0% {
            margin-left: 0;
        }
        45% {
            margin-left: 0%;
        }
        50% {
            margin-left: -100%;
        }
        95% {
            margin-left: -100;
        }
        100% {
            margin-left: -100%;
        }
    }
    
    .container {
        padding: 0px;
        margin: 0 auto;
        width: 100%;
        background-color: white;
        text-align: center;
    }
    
    .inicio {
        padding: 25px;
    }
    
    .container h4 {
        text-align: justify;
        text-indent: 40px;
        margin-left: 15px;
        text-decoration: none;
        font-weight: normal;
    }
    
    .redes {
        align-items: center;
        width: 50%;
    }
    
    .redes img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
    
    .sobre {
        text-align: justify;
        width: 100%;
    }
    
    .texto {
        text-indent: 40px;
        text-align: justify;
    }
    
    .sobre h1 {
        text-align: center;
    }
    
    .texto2 {
        text-align: left;
        padding-bottom: 25px;
    }
    
    .texto2 img {
        max-width: 25px;
        max-height: 25px;
        width: auto;
        height: auto;
    }
    
    .slider {
        padding-top: 40px;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .slider ul {
        display: flex;
        width: 300%;
        padding: 0;
        margin-right: 0px;
        animation: trocar 10s infinite;
        animation-direction: alternate;
    }
    
    .slider li {
        text-align: center;
        list-style: none;
        text-align: left;
    }
    
    .slider img {
        margin-top: 10px;
        width: 500px !important;
        margin: 0;
    }
    
    @keyframes trocar {
        0% {
            margin-left: 0;
        }
        30% {
            margin-left: 0;
        }
        33% {
            margin-left: -100%;
        }
        63% {
            margin-left: -100%;
        }
        66% {
            margin-left: -200%;
        }
        93% {
            margin-left: -200%;
        }
        100% {
            margin-left: -200%;
        }
    }
    
    .footer {
        width: 100%;
        background-color: black;
        height: 120px;
    }
    
    .textofooter {
        color: white;
        text-align: center;
    }
    
    .textofooter img {
        padding-top: 10px;
        max-width: 40px;
        max-height: 40px;
        width: auto;
        height: auto;
    }
    
    .whatsapp-link {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #25d366;
        color: #fff !important;
        border-radius: 50px;
        text-align: center;
        box-shadow: 1px 1px 2px #888;
        z-index: 1000;
    }