* {
    font-size: 20px;
}

.logo {
    width: 70%;
}

.header2 ul li {
    padding: 10px;
}

.redes-sociais {
    width: 20%;
}

.header2 {
    height: 50px;
}

.menu ul li:hover {
    height: 30px;
    border-bottom: rgb(255, 0, 0) 3px solid;
}

.whatsapp-link {
    width: 60px;
    height: 60px;
    font-size: 45px;
}

.fa-whatsapp {
    margin-top: 8px;
}