* {
    font-size: 20px;
}

.logo {
    width: 70%;
}

.redes-sociais {
    width: 20%;
}

.whatsapp-link {
    width: 60px;
    height: 60px;
    font-size: 45px;
}

.fa-whatsapp {
    margin-top: 8px;
}