* {
    font-size: 25px;
}

.logo {
    width: 60%;
}

.redes-sociais {
    width: 40%;
}

.header1 {
    height: 60px;
    padding: 8px;
}

.whatsapp-link {
    width: 60px;
    height: 60px;
    font-size: 45px;
}

.fa-whatsapp {
    margin-top: 8px;
}