* {
    font-size: 30px;
}

.logo {
    width: 40%;
}

.redes-sociais {
    width: 30%;
}

.header1 {
    height: 100px;
    padding-left: 25px;
}

.header2 {
    height: 100px;
}

.header2 ul li {
    padding: 25px;
}

.menu ul li:hover {
    height: 50px;
    border-bottom: rgb(255, 0, 0) 3px solid;
}

.whatsapp-link {
    width: 100px;
    height: 100px;
    font-size: 75px;
}

.fa-whatsapp {
    margin-top: 15px;
}